<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <title>Beer</title>
</head>
<body>
  <div id="wrapper">
    <div id="banner">
      <img class="banner left" src="/static/pics/alcohol.jpg" alt="banner">
      <h1 class="banner">Blood Alcohol Calculator</h1>
      <img class="banner right" src="/static/pics/alcohol.jpg" alt="banner">
    </div>
    <div id="content">
      <div id="form">
        <div id="personinfo">
        <div id="weight">
          <span>Enter your weight please!</span>
          <input type="number" id="kg" required>
        </div>
        <div id="sex">
          <label id="femalelabel" for="female">female</label>
          <input type="radio" name="sex" id="female" value="female" >
          <label id="malelabel" for="male">male</label>
          <input type="radio" name="sex" id="male" value="male" >
        </div>
        <div id="time-div">
          <span>What time was your last drink!</span>
          <select id="time"></select>
        </div>
        </div>
        <div id="beer-div" class="alcohol-container">
          <div class="alcohol beer" style="background-image: url('/static/pics/beer.jpg');"></div>
          <div class="beer">
            <img id="plusbeer" class="plus" src="/static/pics/plus.png" alt="PLUS">
            <input type="number" id="beer">
            <img id="minusbeer" class="plus" src="/static/pics/minus.png" alt="MINUS">
          </div>
        </div>
        <div id="wine-div" class="alcohol-container">
          <div class="alcohol wine" style="background-image: url('/static/pics/wine.jpg');"></div>
          <div class="wine">
            <img id="pluswine" class="plus"src="/static/pics/plus.png" alt="PLUS">
            <input type="number" id="wine">
            <img id="minuswine" class="plus"src="/static/pics/minus.png" alt="MINUS">
          </div>
        </div>
        <div id="shot-div" class="alcohol-container">
          <div class="alcohol shot" style="background-image: url('/static/pics/shot.jpg');"></div>
          <div class="shot">
            <img id="plusshot" class="plus" src="/static/pics/plus.png" alt="PLUS">
            <input type="number" id="shot">
            <img id="minusshot" class="plus" src="/static/pics/minus.png" alt="MINUS">
          </div>
        </div>
        <div class="button" >
          <button id="submit">Lets see!</button>
        </div>
      </div>
      <div id="result" class="hidden">
        <p id="bloodalcohol"></p>
        <h2 id="descriptiontitle"></h2>
        <p id="description"></p>
        <p id="sober"></p>
        <div class="button">
            <button id="goback">Go back!</button>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/static/js/dom.js"></script>
  <script src="/static/js/calculatorDom.js"></script>
</body>
</html>