<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/style.css">
  <title>Beer</title>
</head>
<body>
  <div id="wrapper">
    <div id="title">
      <h1>Blood Alcohol Calculator</h1>
    </div>
    <div id="weight">
      <span>Enter your weight please!</span>
      <input type="number" id="kg" required>
    </div>
    <div id="time-div">
      <span>What time was your last drink!</span>
      <select id="time">
        </select>
    </div>
    <div id="beer-div">
      <img src="/static/pics/beer.jpg" alt="BEER">
      <input type="number" id="beer">
    </div>
    <div id="wine-div">
      <img src="/static/pics/wine.jpg" alt="WINE">
      <input type="number" id="wine">
    </div>
    <div id="shot-div">
      <img src="/static/pics/shot.jpg" alt="SHOT">
      <input type="number" id="shot">
    </div>
    <div id="result">

    </div>

  </div>
  

  <script src="/static/js/dom.js"></script>
  <script src="/static/js/calculatorDom.js"></script>
</body>
</html>