body {
  background-color: #F2F2F2;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  font-weight: 900;
}

#banner {
  height: 100px;
  position: relative;
  margin: 0 0 15px 0;
  border-radius: 15px;
  background-color: black;
}

#banner h1 {
  position: absolute;
  top: 20px;
  margin: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 50px;
}

#banner img {
width: auto;
height: 100px;
}

#personinfo, .resultinfo {
  background-color: rgba(255, 255, 255, 0.4);
}

#personinfo {
  padding: 5px;
}

.resultinfo {
  width: 70%;
}

.left {
  margin-left: 10%;
  float: left;
}

.right {
  margin-right: 10%;
  float: right;
}

#content {
  background: url("/static/pics/woodenwall.jpeg") no-repeat;
  padding: 20px;
  border-radius: 15px;
}

select, option {
  font-weight: 900;
  outline: none;
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  font-family: 'Indie Flower', cursive;
  padding-left: 20px;
}

input[type=radio] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
          font-size: 25px;
          padding: 10px;
          width: 30px;
          height: 30px;
          outline: none;
          border-style: dashed;
          border-radius: 15px;
          text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.hidden {
  display: none;
}

.checked {
  text-decoration: underline;
}

.alcohol-container {
  width: 28.66%;
  margin: 1%;
  padding: 1%;
  display: inline-block;
  min-width: 250px;
}

.alcohol {
  width: 200px;
  height: 150px;
  overflow: hidden;
  background-size: cover;
  border-radius: 15px;
  margin-right: 15px;
  float: left;
}

.beer, .wine, .shot{
  display: inline-block;
  max-height: 150px;
}

.plus{
  display: block;
  width: 36px;
  height: 36px;
  padding: 10px 7px;
}

#personinfo{
  text-align: center;
  width: 75%;
  border-radius: 15px;
  margin: 0 auto;
}

#bloodalcohol {
  text-decoration: underline;
}

.description-wrapper {
  text-align: center;
  background-color: rgba(230, 230, 230, 0.7);
  border-radius: 15px;
}

#bloodalcohol {
  text-align: center;
}

#weight, #sex {
  display: inline;
  margin: 0 40px;
}

.gif{  
  float: left;
  width: 46%;
  margin: 1%;
  padding: 1%;
  border-radius: 15px;
}
#img img{
  border-radius: 15px;
  float: right;
  margin-right: 150px;
  width: 300px;
  height: 300px;
}

.alcohol p {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-top: 80px;
  font-size: 30px;
}

button {
  display: block;
  outline: none;
  background-color: brown;
  border: double black;
  border-radius: 15px;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px auto 0px auto;
  background-image: url("/static/pics/bubbles.jpg");
  background-size: cover;
  font-weight: 900;
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
}
<<<<<<< HEAD
#footer{
  height: 150px;
  position: relative;
  border-radius: 15px;
  margin-top: 10px;
  background:url(/static/pics/brickwall.jpg) no-repeat;
}
#footer ul{
  list-style-type: none;
  width: 20px;
  height: auto;
}
#footer img{
  width: 30px;
  height: auto;
}
.git{
display: inline-block;
height: auto;
width: 43%;
margin: 1%;
padding: 1%;
max-height: 150px;
=======

button:hover {
  border-style: groove;
  text-decoration: underline;
>>>>>>> a73da0d1ba753a90d7d60df619f6696af11a6f02
}