p {
  background-color: black;
  color: white;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
          font-size: 30px;
          padding: 10px;
          width: 50px;
          height: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.alcohol{
  width: 200px;
  height: auto;
}
.plus{
  display: block;
  width: 50px;
  height: auto;
}